
html, body, #__next {
    min-height: 100svh;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex-grow: 1; /* 核心：让主内容区占据所有剩余空间 */
    display: flex;
    flex-direction: column;
    max-width: 928px;
    width: 100%;
    margin: 20px auto;
    padding: 0 var(--mantine-spacing-md);
}